GMAIL_EMAIL=williamdeekgaratsi@gmail.com
NOTIFICATION_EMAIL=williamdeekgaratsi@gmail.com

# Do not put the Gmail app password in this file.
# Add it as a Firebase secret instead:
# firebase functions:secrets:set GMAIL_APP_PASSWORD
